[JENKINS-12875] "No valid crumb was included in the request" errors all around

<p>After upgrading Jenkins from 1.448 to 1.451 (with yum, upgraded plugins too) several parts of Jenkins have become unusable with error "No valid crumb was included in the request":</p>

<h4><a name="Consoleoutput"></a>Console output</h4>

<ul>
	<li>When building, the log is unavailable, see <span class="nobr"><a href="https://issues.jenkins.io/secure/attachment/21553/21553_console_log.png" title="console_log.png attached to JENKINS-12875">console_log.png<sup><img class="rendericon" src="https://issues.jenkins.io/images/icons/link_attachment_7.gif" height="7" width="7" align="absmiddle" alt="" border="0"/></sup></a></span></li>
	<li>Once the build is done, the complete log is available, but the same error appears on the side <span class="nobr"><a href="https://issues.jenkins.io/secure/attachment/21552/21552_console_side.png" title="console_side.png attached to JENKINS-12875">console_side.png<sup><img class="rendericon" src="https://issues.jenkins.io/images/icons/link_attachment_7.gif" height="7" width="7" align="absmiddle" alt="" border="0"/></sup></a></span></li>
</ul>


<h4><a name="Buildconfiguration"></a>Build configuration</h4>

<ul>
	<li>Builds cannot be launched anymore from the build page (The firebug error console displays the "No valid crumb was included in the request" error). They still can be launched from the dashboard though.</li>
	<li>Cannot add build steps (when choosing a build step type an error is reported in background), see <span class="nobr"><a href="https://issues.jenkins.io/secure/attachment/21556/21556_add_build_step.png" title="add_build_step.png attached to JENKINS-12875">add_build_step.png<sup><img class="rendericon" src="https://issues.jenkins.io/images/icons/link_attachment_7.gif" height="7" width="7" align="absmiddle" alt="" border="0"/></sup></a></span></li>
</ul>


<h4><a name="ManageJenkinsconfiguration"></a>Manage Jenkins configuration</h4>

<ul>
	<li>The page loads only partially (first half is permanently greyed out, see <span class="nobr"><a href="https://issues.jenkins.io/secure/attachment/21555/21555_configuration.png" title="configuration.png attached to JENKINS-12875">configuration.png<sup><img class="rendericon" src="https://issues.jenkins.io/images/icons/link_attachment_7.gif" height="7" width="7" align="absmiddle" alt="" border="0"/></sup></a></span>). The firebug error console displays the "No valid crumb was included in the request" error.</li>
</ul>


<h4><a name="ManageJenkinsplugins"></a>Manage Jenkins plugins</h4>

<ul>
	<li>Cannot upgrade nor downgrade, see error shown <span class="nobr"><a href="https://issues.jenkins.io/secure/attachment/21554/21554_plugins.png" title="plugins.png attached to JENKINS-12875">plugins.png<sup><img class="rendericon" src="https://issues.jenkins.io/images/icons/link_attachment_7.gif" height="7" width="7" align="absmiddle" alt="" border="0"/></sup></a></span></li>
</ul>


---
<details><summary><i>Originally reported by <a title="Núria Aloy" href="https://issues.jenkins.io/secure/ViewProfile.jspa?name=naloy">naloy</a>, imported from: <a href="https://issues.jenkins.io/browse/JENKINS-12875" target="_blank">"No valid crumb was included in the request" errors all around</a></i></summary>
<i><ul>
<li><b>assignee</b>: <a title="Daniel Beck" href="https://issues.jenkins.io/secure/ViewProfile.jspa?name=danielbeck">danielbeck</a>
<li><b>reported by</b>: naloy
<li><b>status</b>: Resolved
<li><b>priority</b>: Critical
<li><b>resolution</b>: Fixed
<li><b>resolved</b>: 2016-04-01T23:57:26+00:00
<li><b>votes</b>: 20
<li><b>watchers</b>: 43
<li><b>imported</b>: 2025-11-13
</ul></i>
</details>
<ul><li><i>environment</i>: <code>CentOS release 5.5 (Final) 64b</code></li></ul>
<details><summary><i>6 attachments</i></summary>

- [Screen Shot 2014-03-12 at 10.43.58 AM.png](https://issues.jenkins.io/secure/attachment/25542/Screen%20Shot%202014-03-12%20at%2010.43.58%20AM.png)
  > ![Screen Shot 2014-03-12 at 10.43.58 AM.png](https://issues.jenkins.io/secure/attachment/25542/Screen%20Shot%202014-03-12%20at%2010.43.58%20AM.png)
- [add_build_step.png](https://issues.jenkins.io/secure/attachment/21556/add_build_step.png)
  > ![add_build_step.png](https://issues.jenkins.io/secure/attachment/21556/add_build_step.png)
- [configuration.png](https://issues.jenkins.io/secure/attachment/21555/configuration.png)
  > ![configuration.png](https://issues.jenkins.io/secure/attachment/21555/configuration.png)
- [console_log.png](https://issues.jenkins.io/secure/attachment/21553/console_log.png)
  > ![console_log.png](https://issues.jenkins.io/secure/attachment/21553/console_log.png)
- [console_side.png](https://issues.jenkins.io/secure/attachment/21552/console_side.png)
  > ![console_side.png](https://issues.jenkins.io/secure/attachment/21552/console_side.png)
- [plugins.png](https://issues.jenkins.io/secure/attachment/21554/plugins.png)
  > ![plugins.png](https://issues.jenkins.io/secure/attachment/21554/plugins.png)
</details>

<sup><i>valentine's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=159565&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-159565">comment</a>:</i></sup>
<p>Not completely normal. The loading thing in the management section is still happening </p>

<sup><i>naloy's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=159566&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-159566">comment</a>:</i></sup>
<p>In the Jenkins configuration page:</p>

<p>Error: Form.findMatchingInput is not a function<br/>
Source File: <a href="http://jenkins.rightnow.com:8080/static/6dcd23a9/scripts/hudson-behavior.js" class="external-link" target="_blank" rel="nofollow noopener">http://jenkins.rightnow.com:8080/static/6dcd23a9/scripts/hudson-behavior.js</a><br/>
Line: 338</p>

<sup><i>windyroad's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=168028&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-168028">comment</a>:</i></sup>
<p>I'm not as blocked as the reporting user, but I'm having the same problem (no valid crumb..). In my case it only seems to affect the console output, though the error can be seen for "ajaxBuildQueue" and "ajaxExecuters" on the config page, the home page (and I'm assuming others).</p>

<p>What's interesting is that I only get this problem through a reverse proxy. <a href="http://ve.mbqblqmj.vesrv.com:8080/" class="external-link" target="_blank" rel="nofollow noopener">http://ve.mbqblqmj.vesrv.com:8080/</a> works fine, but <a href="http://ci.windyroad.org/" class="external-link" target="_blank" rel="nofollow noopener">http://ci.windyroad.org/</a> (which is RPed to  <a href="http://ve.mbqblqmj.vesrv.com:8080/" class="external-link" target="_blank" rel="nofollow noopener">http://ve.mbqblqmj.vesrv.com:8080/</a>) does not.</p>

<sup><i>windyroad's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=168029&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-168029">comment</a>:</i></sup>
<p>I've offered  USD100.00 at FreedomSponsors to have this fixed (<a href="http://www.freedomsponsors.org/core/issue/31/no-valid-crumb-was-included-in-the-request-errors-all-around" class="external-link" target="_blank" rel="nofollow noopener">http://www.freedomsponsors.org/core/issue/31/no-valid-crumb-was-included-in-the-request-errors-all-around</a>).<br/>
Once you solve it (according to the acceptance criteria described there), just create a FreedomSponsors account and mark it as resolved (oh, you'll need a Paypal account too)<br/>
I'll then check it out and will gladly pay.</p>

<sup><i>onemanbucket's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=169308&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-169308">comment</a>:</i></sup>
<p>Actually, it seems that you can set the header name with a system property to jenkins (hudson.security.csrf.requestfield). So another workaround could be to start jenkins with -Dhudson.security.csrf.requestfield=crumb</p>

<sup><i>onemanbucket's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=169310&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-169310">comment</a>:</i></sup>
<p>Pull request: <a href="https://github.com/jenkinsci/jenkins/pull/596" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/jenkinsci/jenkins/pull/596</a></p>

<sup><i>algob's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=174479&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-174479">comment</a>:</i></sup>
<p>I've same issue, if I try to disable a project (use Jenkins v1.502):<br/>
   <a href="http://rhodan:8080/jenkins/job/myproject_3562/disable" class="external-link" target="_blank" rel="nofollow noopener">http://rhodan:8080/jenkins/job/myproject_3562/disable</a></p>

<p>It looks like, I would have the same issue, if I would try to enable it, if it is disabled: <a href="https://issues.jenkins.io/browse/JENKINS-14501" title="Enable Job link fails with "No valid crumb was included in the request"" class="issue-link" data-issue-key="JENKINS-14501"><del>JENKINS-14501</del></a></p>

<p>I tried to added these line to /opt/tomcat/bin/catalina.sh, but it didn't solve the issue:<br/>
   &#8212; SNIP &#8212;<br/>
JAVA_OPTS="$JAVA_OPTS -Dhudson.security.csrf.requestfield=crumb"<br/>
   &#8212; SNAP &#8212;</p>

<sup><i>vadakr's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=196587&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-196587">comment</a>:</i></sup>
<p>To disable CSRF (<a href="https://issues.jenkins-ci.org/secure/attachment/25542/Screen%20Shot%202014-03-12%20at%2010.43.58%20AM.png" class="external-link" target="_blank" rel="nofollow noopener">Screenshot</a>) - </p>

<p>Jenkins > Manage Jenkins > Configure Global Security</p>

<p>At the very bottom, you will see a checkbox for "Prevent Cross Site Request Forgery exploits". Uncheck this and apply.</p>

<sup><i>jglick's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=212970&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-212970">comment</a>:</i></sup>
<p>Be warned that <tt>-Dhudson.security.csrf.requestfield=crumb</tt> will cause the attempts by some REST API clients to obtain a crumb to be rejected by the fix of SECURITY-47, as <tt>crumb</tt> is a valid JavaScript identifier that would open you to attack.</p>

<sup><i>blaisorblade's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=233727&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-233727">comment</a>:</i></sup>
<p>I ran into this yesterday. What's the status? Somebody proposed an <tt>X-Jenkins-Crumb</tt> header (in <a href="https://issues.jenkins.io/browse/JENKINS-7518" title="CLONE -Crumb breaks ajax request behind proxies. -- Still broken behind nginx proxies" class="issue-link" data-issue-key="JENKINS-7518"><del>JENKINS-7518</del></a>), which doesn't seem a legal JavaScript identifier (though it might be "the start of a legal JavaScript statement").<br/>
Would <tt>X-Jenkins-Crumb-0NoJS</tt> help, since <tt>0NoJs</tt> is an illegal JS token?</p>

<p>Also, SECURITY-47 isn't visible in the bug tracker, apparently on purpose — I've only found the fix (<a href="https://github.com/jenkinsci/jenkins/commit/0de3e9b14ed75f70279435e78eb9f6a3a1a179df" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/jenkinsci/jenkins/commit/0de3e9b14ed75f70279435e78eb9f6a3a1a179df</a>) and maybe the advisory (<a href="https://wiki.jenkins-ci.org/display/SECURITY/Jenkins+Security+Advisory+2013-02-16" class="external-link" target="_blank" rel="nofollow noopener">https://wiki.jenkins-ci.org/display/SECURITY/Jenkins+Security+Advisory+2013-02-16</a>).</p>

<p>For my part, I tried to document this on <a href="https://wiki.jenkins-ci.org/display/JENKINS/Jenkins+behind+an+NGinX+reverse+proxy" class="external-link" target="_blank" rel="nofollow noopener">https://wiki.jenkins-ci.org/display/JENKINS/Jenkins+behind+an+NGinX+reverse+proxy</a>; I only mentioned the most secure workaround, not the <tt>-Dhudson.security.csrf.requestfield=</tt> setting. Improvements are welcome.</p>

<sup><i>timboudreau's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=235874&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-235874">comment</a>:</i></sup>
<p>Running into this too, with NginX, on <a href="https://timboudreau.com/builds" class="external-link" target="_blank" rel="nofollow noopener">https://timboudreau.com/builds</a></p>

<p>I've set ignore_invalid_headers to off, but I'm not keen on leaving it that way, especially for an NginX instance that is proxying far more than just Jenkins - there are other forms of nastiness that would be better not to pass on to back end applications that makes possible.</p>

<sup><i>tomreyn's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=235964&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-235964">comment</a>:</i></sup>
<p>The number of people watching this issue is pretty high compared to that of other issues. This may provide an indication as to how much of an issue it is.</p>

<p>C.f. <a href="http://seclists.org/bugtraq/2015/Aug/161" class="external-link" target="_blank" rel="nofollow noopener">http://seclists.org/bugtraq/2015/Aug/161</a></p>

<p>Adding a couple HTTP headers would also help to harden the security of a Jenkins installation (may break some Jenkins plugins - works for me). Assuming your domain name is EXAMPLE.ORG and you use HTTPS:</p>



```
Content-Security-Policy: "default-src 'self' EXAMPLE.ORG *.EXAMPLE.ORG; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src *; media-src *; object-src 'self'; frame-src 'self' updates.jenkins-ci.org;"
X-Frame-Options: "sameorigin, DENY"
X-XSS-Protection: "1; mode=block"
X-Content-Type-Options:"nosniff"
Strict-Transport-Security:"max-age=15768000"
```

<sup><i>timboudreau's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=235969&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-235969">comment</a>:</i></sup>
<p>> as crumb is a valid Javascript identifier that would open you to attack</p>

<p>Would like to understand better how a header name being a Javascript identifier opens one to attack - there are plenty of standard HTTP header names that are valid identifiers - if I make an HTTP request containing</p>

<p>Date: eval("alert('Hey')")</p>

<p>is something foolish enough to execute it?</p>

<p>At any rate, the problem here is simple - ".crumb" is not a legal HTTP header, but there are plenty of options that are legal HTTP headers and illegal as js identifiers - one has already been suggested.  I don't think any of us want to leave our NginX installs set to accept whatever garbage a client decides to turn into headers.</p>

<p>Re the suggested additional headers:  Some are not a bad idea, but I could write a NodeJS proxy that would strip those out in about 10 minutes and go hog wild (or just use a programmatic HTTP client) - you can't rely on that sort of thing to give you real security, just deter low-hanging-fruit bad behavior.</p>

<sup><i>jglick's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=236067&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-236067">comment</a>:</i></sup>
<blockquote><p>Would like to understand better how a header name being a Javascript identifier opens one to attack</p></blockquote>

<p>It is complicated but has to do with how the crumb is offered to legitimate clients.</p>

<p>Anyway the fix is well understood and filed, “just” needs to be tested and reviewed by someone qualified in web security.</p>

<sup><i>danielbeck's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=236091&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-236091">comment</a>:</i></sup>
<p><a href="https://issues.jenkins.io/secure/ViewProfile.jspa?name=timboudreau" class="user-hover" rel="timboudreau">timboudreau</a> You wrote:</p>

<blockquote><p>".crumb" is not a legal HTTP header, but there are plenty of options that are legal HTTP headers and illegal as js identifiers</p></blockquote>

<p>Just curious, where did you get this information from? Neither RFC 2822 (section 2.6.8) nor RFC 7230 seem to impose any header name restrictions beyond being printable ascii and not including spaces or colons. (Not saying this shouldn't be fixed due to compatibility, but I looked repeatedly, even back when I worked on this, and couldn't find anything like what you're saying).</p>

<sup><i>blaisorblade's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=236095&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-236095">comment</a>:</i></sup>
<p>On header names: I mostly agree with Daniel Beck about the spec (after reading both specs, I've also looked at <a href="http://stackoverflow.com/a/3569667/53974" class="external-link" target="_blank" rel="nofollow noopener">http://stackoverflow.com/a/3569667/53974</a> — beyond colons, other "separators" are forbidden, but not dots). I think our source is just what the nginx docs imply without giving any reference (<a href="http://nginx.org/en/docs/http/ngx_http_core_module.html#ignore_invalid_headers" class="external-link" target="_blank" rel="nofollow noopener">http://nginx.org/en/docs/http/ngx_http_core_module.html#ignore_invalid_headers</a>).</p>

<p>> Re the suggested additional headers: Some are not a bad idea, but I could write a NodeJS proxy that would strip those out in about 10 minutes and go hog wild (or just use a programmatic HTTP client) - you can't rely on that sort of thing to give you real security, just deter low-hanging-fruit bad behavior.</p>

<p>At least Strict-Transport-Security is there to offer some protection for clients (browsers) that do honor them (and I think some other ones too). Not sure how you propose to use the proxy, but that headers assumes Jenkins is behind HTTPS, and then attackers can't drop the header.</p>

<p>However, <b>please</b> don't silently enable Strict-Transport-Security — that's something for the sysadmin to decide, and it's not fun if one HTTP application enables it on a host where other services don't support HTTPS.</p>

<p>Anyway, this is OT here, maybe somebody (Tom Reynolds) can open a different bug for them? (I don't understand the headers well enough to do that).</p>

<sup><i>danielbeck's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=252076&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-252076">comment</a>:</i></sup>
<p>We already got some enthusiastic feedback how broken Jenkins is with nginx. Looks like we actually should address this before shipping with CSRF protection enabled by default.</p>

<sup><i>scm_issue_link's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=252720&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-252720">comment</a>:</i></sup>
<p>Code changed in jenkins<br/>
User: Daniel Beck<br/>
Path:<br/>
 core/src/main/java/hudson/security/csrf/CrumbFilter.java<br/>
 core/src/main/java/hudson/security/csrf/CrumbIssuer.java<br/>
 core/src/main/java/hudson/security/csrf/CrumbIssuerDescriptor.java<br/>
 core/src/main/java/hudson/security/csrf/DefaultCrumbIssuer.java<br/>
 test/src/test/groovy/hudson/model/SlaveTest.groovy<br/>
<a href="http://jenkins-ci.org/commit/jenkins/ed0ea631cd4af0e678da96d7297910ba1612749d" class="external-link" target="_blank" rel="nofollow noopener">http://jenkins-ci.org/commit/jenkins/ed0ea631cd4af0e678da96d7297910ba1612749d</a><br/>
Log:<br/>
  <span class="error">&#91;FIXED JENKINS-12875&#93;</span> Change default crumb name to Jenkins-Crumb</p>



<sup><i>danielbeck's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=255963&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-255963">comment</a>:</i></sup>
<p><a href="https://issues.jenkins.io/secure/ViewProfile.jspa?name=janek" class="user-hover" rel="janek">janek</a></p>

<blockquote><p>which replaced the hard-coded '.crumb' header with 'Jenkins-Crumb', that's why they no longer match.</p></blockquote>

<p><a href="https://wiki.jenkins-ci.org/display/JENKINS/Features+controlled+by+system+properties" class="external-link" target="_blank" rel="nofollow noopener">The crumb name has been configurable since 1.310</a> (<tt>hudson.security.csrf.requestfield</tt>), and that was necessary for anyone running Jenkins behind nginx, as it dropped the <tt>.crumb</tt> header (<a href="https://issues.jenkins.io/browse/JENKINS-12875" title=""No valid crumb was included in the request" errors all around" class="issue-link" data-issue-key="JENKINS-12875"><del>JENKINS-12875</del></a>). So we renamed the default to something nginx accepts. Maybe it's a good idea to check which crumb name is used by Jenkins in your plugin to adapt to user configuration.</p>

<sup><i>janek's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=255967&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-255967">comment</a>:</i></sup>
<p><a href="https://issues.jenkins.io/secure/ViewProfile.jspa?name=jknurek" class="user-hover" rel="jknurek">jknurek</a> - Fixed in Build Monitor 1.9+build.2016043001​28, which you can <a href="https://smartcode-opensource.ci.cloudbees.com/job/build-monitor/37/artifact/build-monitor-plugin/target/build-monitor-plugin.hpi" class="external-link" target="_blank" rel="nofollow noopener">download here</a> before it hits the official update centre.</p>

<sup><i>janek's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=255969&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-255969">comment</a>:</i></sup>
<p>Awesome, thanks <a href="https://issues.jenkins.io/secure/ViewProfile.jspa?name=danielbeck" class="user-hover" rel="danielbeck">danielbeck</a>, that's exactly what I did. The latest Build Monitor picks up the crumb name from CrumbIssuer::getCrumbRequestField so it should be a more appropriate solution <img class="emoticon" src="https://issues.jenkins.io/images/icons/emoticons/smile.png" height="16" width="16" align="absmiddle" alt="" border="0"/></p>

<sup><i>nvn's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=261957&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-261957">comment</a>:</i></sup>
<p>Hi,<br/>
I have Jenkins 2.7, I have created the service hook in TFS to trigger the automatic build but while testing the hook I get " No valid crumb was included in the request (403)". I can run the same build from Jenkins dashboard with no issue.<br/>
I have also installed the downgrade Build - Plugin-Version: 1.9+build.201606171408 as suggested by Jan Molak above but I am still facing the issue.</p>

<p>P.s - I have installed Jenkins on my local windows 2007 machine.</p>

<p>Thanks,</p>

<sup><i>janek's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=261958&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-261958">comment</a>:</i></sup>
<p>Hey Naveen - from what you're saying it seems like the problem is related to Jenkins and not the Build Monitor plugin?<br/>
If you think it's related to Build Monitor please feel free to raise a ticket on github at <a href="https://github.com/jan-molak/jenkins-build-monitor-plugin" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/jan-molak/jenkins-build-monitor-plugin</a></p>

<p>Thanks,<br/>
Jan</p>

<sup><i>nvn's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=261967&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-261967">comment</a>:</i></sup>
<p>Hi Jan, yeah I think the issue is either with Jenkins or may be with Tfs-jenkins plugin, I am not sure. Pls suggest.</p>

<p>Thanks</p>

<sup><i>12niner's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=273684&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-273684">comment</a>:</i></sup>
<p>Having just wasted a few hours debugging why I was seeing this: if you re-install Jenkins you need to clear your cookies or you'll hit this.</p>

<sup><i>danielbeck's <a href="https://issues.jenkins.io/browse/JENKINS-12875?focusedId=273734&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-273734">comment</a>:</i></sup>
<p><a href="https://issues.jenkins.io/secure/ViewProfile.jspa?name=12niner" class="user-hover" rel="12niner">12niner</a> Too many cookies is tracked as <a href="https://issues.jenkins.io/browse/JENKINS-25046" title="Cookie header too long, causing a 413 HTTP error" class="issue-link" data-issue-key="JENKINS-25046">JENKINS-25046</a>.</p>

<i>[Originally duplicated by: <a href="https://github.com/timja-org/jenkins-gh-issues-poc-11-12/issues?q=in%3Atitle%20JENKINS-24249">JENKINS-24249</a>]</i>

<i>[Originally duplicated by: <a href="https://github.com/timja-org/jenkins-gh-issues-poc-11-12/issues?q=in%3Atitle%20JENKINS-27972">JENKINS-27972</a>]</i>

<i>[Originally duplicated by: <a href="https://github.com/timja-org/jenkins-gh-issues-poc-11-12/issues?q=in%3Atitle%20JENKINS-25116">JENKINS-25116</a>]</i>

<i>[Originally duplicated by: <a href="https://github.com/timja-org/jenkins-gh-issues-poc-11-12/issues?q=in%3Atitle%20JENKINS-23793">JENKINS-23793</a>]</i>

<i>[Originally related to: <a href="https://github.com/timja-org/jenkins-gh-issues-poc-11-12/issues?q=in%3Atitle%20JENKINS-7518">JENKINS-7518</a>]</i>

<i>[Originally related to: <a href="https://github.com/timja-org/jenkins-gh-issues-poc-11-12/issues?q=in%3Atitle%20JENKINS-12787">JENKINS-12787</a>]</i>

<i>[Epic: <a href="https://github.com/timja-org/jenkins-gh-issues-poc-11-12/issues?q=in%3Atitle%20JENKINS-33810%20label%3Aepic">JENKINS-33810</a>]</i>